.button_css {
  width: 100px;
	background: #759eef;
	border: 1px solid #222;
	padding: 10px 20px;
	color: black;
	text-align: center;
	display: inline-block;
	font-size: 16px;
  }

.button_css:active{
  background: #506ffd;
}